body{
    background-color: #EEEEF3;
    font-family: 'Poppins';
    font-size: smaller;
}
.todo-wrapper{
    box-shadow: 15px 10px 20px rgb(197, 196, 196);
    max-width: 400px;
    background-color: #FFFFFF;
    padding: 20px, 5px, 20px, 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
h3{
    margin: 0px;
}
.todo-item{
    max-width: 500px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 8px;
}
.todo-item-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.descript{
    color: grey;
    margin-top: 2px;
    margin-bottom: 5px;
}
.extra-items{
    display:inline-block;
    padding-right: 50px; 
}
.date{
    color: red;
}
.assignee{
    color: grey;
}
.actions{
    display: flex;
    justify-content: end;
}



.action-btn{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px transparent;
    border-radius: 5px;
    color: white;
    font-family: 'poppins';
    font-weight: bold;
}
.save{
    
    background-color: #682EE4;
}
.delete{
    background-color: rgb(245, 78, 78);
}
.btn{
    margin-top: 5px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: solid 1px gray;
    color: gray;
    border-radius: 5px;
}
.text-space{
    height: 70px;
    margin-bottom: 10px;
    width: 85%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 3px;
    resize: none;
    font-family: 'Poppins';
    border: none;
    font-size: small;
    background-color: #f6f6fd;
    padding: 5px 2.5%;
}
.text-title{
    width: 85%;
    margin: 5px 5%;
    font-family: 'Poppins';
    border: none;
    font-size: small;
    background-color: #f6f6fd;
    padding: 5px 2.5%;
}
.container{
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    min-width: 200px;
    max-width: 400px;
    margin: 10px auto;
}

label{
    margin: 0px 5%;
    font-family: 'poppins';
    font-weight: bold;
}
.radio{
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black;
}

.nav{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    padding-right: auto;
    padding-left: auto;
}
.label{
    border-radius: 5px;
    width: 90%;
    text-align: center;
    margin: 0px 5%;
    font-weight: bold;
    padding: 2px;
    color: gray;
    border: none;
    font-family: 'poppins';
}

.active{
    background-color: #682EE4;
    color: white;
}

.off{
    display: none;
}

.check-box{
    margin-right: 20px;
    display: flex;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: solid 1px gray;
    justify-content: center;
    padding: auto 0px;
    background-color: transparent;
}

span{
    display: none;
    visibility: hidden;
}
.check-box:hover span{
    display: block;
    visibility: visible;
}
.check-box:focus span{
    display: block;
    visibility: visible;
}
