body{
    background-color: #EEEEF3;
    font-family: 'Poppins';
}
.todo-wrapper{
    box-shadow: 15px 10px 20px rgb(197, 196, 196);
    width: fit-content;
    background-color: #FFFFFF;
    padding: 20px, 5px, 20px, 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.todo-item{
    padding: 20px
}