{% extends 'base.html' %}
{% block content %}

<div class="todo-wrapper">
    <!-- <h3 style="text-align: center;">UPDATE</h3> -->
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <a href='{% url "delete-todo" object.id %}' >
                <button class="action-btn delete">Delete</button>
            </a>
            <input type="submit" class="action-btn save" value="save changes">
        </form>
    
    </div>
</div>

{% endblock content%}