{% extends 'base.html' %}
{% block content %}

<div class="todo-wrapper">
    {% for todo in todos %}
    <div class="todo-item-parent">
        <div class="todo-item">
            <!-- <div class="divider"></div> -->
            <strong>
                <a href="{% url 'todo-list' todo.id %}">
                    {{todo.title}}
                </a>
            </strong>
            <p class="descript">{{todo.description|truncatechars:50}}</p>
            
            <div class="Extra">
          
                    <!-- <span class="extra-items">{{todo.due_date}}</span>  -->
          
                <!-- <span class="extra-items assignee"> Esther Howard</span> -->
            </div>
            <!-- <div class="actions">
                <button class="btn edit">
                   edit
                </button>
                <button class="btn delete">
                   delete
                </button>
            </div> -->
           
        </div>
        <input type="radio" name="" id="" class="radio">
    </div>

    {% endfor %}
   
</div>

<div class="container">
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" class="new-todo" value="Add Todo">
    </form>

</div>
{% endblock content%}