{% extends 'base.html' %}
{% block content %}

<div class="todo-wrapper">
    {% for todo in object_list %}
    <div class="todo-item">
        <h3>{{todo.title}}</h3>
        <p class="descript">{{todo.description}}</p>
        
        <div class="Extra">
      
                <span class="extra-items date">{{todo.due_date}}</span> 
      
            <!-- <span class="extra-items assignee"> Esther Howard</span> -->
        </div>
        <div class="actions">
            <button class="btn edit">
                <span class="material-icons md-5">edit</span>
            </button>
            <button class="btn delete">
                <span class="material-icons md-5">delete</span>
            </button>
        </div>
       
    </div>
    {% endfor %}
   
</div>

<div class="container">
    <label for="">Title</label>
    <input type="text" class="text-title">
    <br>
    <label for="">description</label>
    <input type="text" class="text-space">
    <button class="new-todo">Add Todo</button>
</div>
{% endblock content%}