{% extends 'base.html' %}
{% block content %}

<div class="todo-wrapper">
    <div class="todo-item">
        <h3>Complete main UI components</h3>
        <p class="descript"> Would be good if we include every component in the design system</p>
        
        <div class="Extra">
            <span class="extra-items date">6 Apr 2022</span> 
            <span class="extra-items assignee"> Esther Howard</span>
        </div>
        <div class="actions">
            <button class="btn edit">Edit</button>
            <button class="btn delete">Delete</button>
        </div>
        
    </div>
</div>

{% endblock content%}